/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Fondo */
body{
    background-image: url('/img/login/Login-fondo.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Contenedor general */
.login-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Caja que divide imagen y formulario */
.login-box{
    width: 900px;
    height: 520px;
    background-color: white;
    overflow: hidden;
    display: flex;
}

/* Imagen izquierda */
.img-login{
    width: 50%;
    height: 100%;
}

.img-login img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Formulario */
.form-login{
    width: 50%;
    padding: 40px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Títulos */
.titulo{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #2B2B2B;
}

.subtitulo{
    text-align: center;
    font-size: 15px;
    color: #9C9C9C;
    margin-bottom: 25px;
}

/* Contenedor inferior */
.acciones{
    text-align: right;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label{
    font-size: 14px;
}

input{
    border: 1px solid #D0D0D0;
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    margin-top: 5px;
}

input::placeholder {
    color: #C8C8C8;  
    opacity: 1;      
}
/* Enlace */
.forgot-link{
    font-size: 13px;
    color: #4a4a4a;
    text-decoration: none;
}

.forgot-link:hover{
    text-decoration: underline;
}

/* Botón ingresas */
.btn-login{
    background-color: #55679C;
    color: white;
    border: none;
    border-radius: 16px;
    font-size: 16px;
    width: 100%;
    justify-content: center;
    padding: 10px;
}


